{% extends "home/home.html" %}

{% block content %}
<div class="movie-register">
    <div class="movie-register-title">
        <h1>Add All Movie File</h1>
    </div>

    <form action="" method="post" novalidate id="movie-register-form">
        <p>
            UUID: <br>
            {{ uuid }}
        </p>
        <p>
            FilePath: <br>
            {% for p in filepath %}
            {{ p.filepath }} <br>
            {% endfor %}
        </p>
        {{ form.hidden_tag() }}
        <p class ="form-label">
            {{ form.nameEN.label }}<br>
            {{ form.nameEN(size=128, value=old.nameen) }}
        </p>
        <p class ="form-label">
            {{ form.nameCN.label }}<br>
            {{ form.nameCN(size=128, value=old.namecn) }}
        </p>
        <p class ="form-label">
            {{ form.year.label }}<br>
            {{ form.year(size=10, value=old.year) }}
        </p>
        <p class ="form-label">
            {{ form.director.label }}<br>
            {{ form.director(size=128, value=old.director) }}
        </p>
        <p class ="form-label">
            {{ form.actor.label }}<br>
            {{ form.actor(size=128, value=old.actor) }}
        </p>
        <p class ="form-label">
            {{ form.genre.label }}<br>
            {{ form.genre(size=128, value=old.genre) }}
        </p>
        <p class ="form-label">
            {{ form.imdb.label }}<br>
            {{ form.imdb(size=128, value=old.imdb) }}
        </p>
        <p class ="form-label">
            {{ form.douban.label }}<br>
            {{ form.douban(size=128, value=old.douban) }}
        </p>
        <a>{{ form.submit() }}</a>
    </form>
</div>
{% endblock %}