<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scal=1.0">
    <meta http-equiv="X-UA-Compatible" content="id=edge">
    <title>MyMovieDevoWeb</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500" rel="stylesheet">
</head>
<body>
<nav>
    <!-- TODO : Navigator -->
</nav>

<!-- content -->
<div class="container" style="margin-top:76px">
    {% block content %}
    {% endblock %}
</div>
<script src="{{ url_for('static', filename='index.js') }}"></script>

<footer>
    <div class="footer">
            I don't know what to write here. :((((
    </div>
</footer>
</body>
</html>