{% extends "home/home.html" %}

{% block content %}
<div class="movie-list-container linebreak">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <h1>All movies</h1>
    {% for movie in movies %}
    <ul id="movie.uid">
        <li>
            <span class="field-name">ID:</span>
            <span class="field-value"><a href="/movie/{{ movie.uuid }}">{{ movie.uuid }}</a></span>
        </li>
        <li>
            <span class="field-name">Film Name(EN):</span>
            <span class="field-value">{{ movie.nameen }}</span>
        </li>
        <li>
            <span class="field-name">Film Name(CN):</span>
            <span class="field-value">{{ movie.namecn }}</span>
        </li>
        <li>
            <span class="field-name">Year:</span>
            <span class="field-value">{{ movie.year }}</span>
        </li>
        <li>
            <span class="field-name">Director:</span>
            <span class="field-value">
                {% if movie.director %}
                {% set directors = movie.director.split('/') %}
                {% for director in directors %}
                    <a href="/list?directBy={{director}}">{{director}}</a> /
                {% endfor %}
                {% endif %}
            </span>
        </li>
        <li>
            <span class="field-name">Genre:</span>
            <span class="field-value">
                {% if movie.genre %}
                {% set genre = movie.genre.split('/') %}
                {% for g in genre %}
                    <a href="/list?genre={{g}}">{{g}}</a> /
                {% endfor %}
                {% endif %}
            </span>
        </li>
        <li>
            <span class="field-name">Actors:</span>
            <span class="field-value">
                {% if movie.actor %}
                {% set actors = movie.actor.split('/') %}
                {% for actor in actors %}
                    <a href="/list?actBy={{actor}}">{{actor}}</a> /
                {% endfor %}
                {% endif %}
            </span>
        </li>
        <li>
            <span class="field-name">Rating:</span>
            <span class="field-value">IMDB: {{ movie.imdb }}</span>
            <span class="field-value">DouBan: {{ movie.douban }}</span>
        </li>
    </ul>
    {% endfor %}
</div>
{% endblock %}